---

---
$main: purple;


div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #4c4c4c;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


body {
  background-color: black;
  font-family: Helvetica;
  font-size: 20px;
  font-color: white;
  text-align:left;
  padding-left: 30px;
}

h1 {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 30px;
  font-weight: "bold";


}

  h2 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding-left: 30px;

}

h3 {
  color: white;
  font-family: 'PT Sans Regular Italic', sans-serif;;
  font-size: 5px;
  padding-bottom: 25px;


}
.slider {
  position: relative;
  top: 40px;
  left: 40px;
}
